*/oauth2/*/application.yml
*/oauth2/*/application-google.yml
*/.gradle
*/build/
!gradle/wrapper/gradle-wrapper.jar
*/out

### GCS Project
daily-commit-265411-498dc92a620d.json


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
